<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="application.properties">
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/mybatis?serverTimezone=Asia/Shanghai"/>
    </properties>

    <typeHandlers>
        <typeHandler handler="plus.knowing.handler.MyHandler"/>
    </typeHandlers>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
                <property name="url" value="${url}"/>
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
<!--        <mapper class="plus.knowing.dao.SysUserDAO" />-->
        <mapper resource="mappers/SysUserDao.xml"/>
<!--        <mapper resource="mappers/SysUserLoginDao.xml"/>-->
<!--        <mapper url="file:///e:\Code\github\program\mybatis\src\main\resource\mappers\SysUserDao.xml"/>-->
        <!--        <package name="plus.knowing.dao"/>-->
    </mappers>

</configuration>
