server:
    port: 9000

spring:
  datasource:
      url: jdbc:mysql://localhost:3306/oss-cas?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
      username: root
      password: root
      driver-class-name: com.mysql.cj.jdbc.Driver
